@media screen and (max-width: 415px) {

body{
    width: 100%;
    min-width: 380px;
    background-color: #000000;
}
.top{
    width: 100%;
    min-width: 380px;
    background-color: rgb(0, 0, 0);
    position: relative;
    height: 70px;
    flex-direction:row-reverse;
}
.top img{
    width: 225px;
    margin: 20px 20px;
}

.top a.burger{
    display: block;
    color: white;
    /* flex-grow: 1; */
    font-size: 2em;
    margin-top: 10px;
    margin-right: 90px;
}

.top .topbar{
    width: 900px;
    /* height: 100vh; */
    display: block;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.16);
    margin: auto;
    top: 70px;
    left: 0px;
    transition:all ease-in-out .9s;
    max-height: 0;
    overflow: hidden;
    z-index: 3;
}

.top .topbar.active{
    /* left: 0px; */
    max-height: 100vh;
}

.topbar.left{
    left: -220px;
}


.top li{
    /* margin: auto; */
    margin-left: 0px;
    width: 300px;
    height: 80px;
    line-height: 80px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(31, 31, 31);
    background-color: black;
    /* max-height: 0; */
}

.top .secondbar{
    width: 0px;
    max-height: 160px;
    top: 0px;
    left: 300px;
    z-index: 4;
}

.top .secondbar li{
    height: 90px;
    margin: auto;
    line-height: 90px;
    padding-left: 0px;
    border-bottom: 1px solid rgb(48, 48, 48);
}

.top .secondbar li a{
    /* padding-top: 10px; */
}

.top .secondbar li a:nth-child(1){
    font-size: 1em;;
}

.secondbar.show{
    max-height: 180px;
    width: 310px;

}

.top li a{
    display:block; 
    text-align: center;
    
}

.top li a span.material-icons{
    display: none;
}

.top li a span.material-symbols-outlined{
    display: block;
    top: 25px;
    left: 180px;
    font-size: 1.4em;
}


.top li a span.material-symbols-outlined.left{
    left: 260px;
    transform: rotate(180deg);
    transition: all ease-in-out .6s;

}

.topFM{
    display: block;
}

.search form {
    width: 150px;
    margin: 0 auto;
}

.search form input[type=text]{
    width:150px;
    height:20px;
    padding-left: 5px;
}
.search form button{
    font-size: 5px;
    top: 32px;
    right: 0px;
}

.banner{
    width: 100%;
    min-width: 380px;
    min-height: 300px;
    z-index: -2;
}

.banner img{
    min-width: 800px;
    min-height: 300px;

}

.whatson{
    width: 400px;
    
}
.whatson h1{
    font-size: 1.6em;
    margin: auto;
    text-align: center;
}

.whatson h3{
    font-size: 13px;
    margin: 0 10px;
    margin-bottom: 30px;
}

.sOut{
    width: 400px;
}


.whatson .swiper {
    width: 380px;
    height: 300px;
}

.swiper-button-prev{
   display: none;
}

.swiper-button-next{
    display: none;
}

.whatson .swiper-slide img{
    width: 380px;
    margin-left: 0px;
}


.slogan{
    width: 400px;
    height: 200px;
    padding-top: 30px;
}

.slogantext{
    width: 400px;
    margin: auto;
    margin-top: 20px;
    flex-direction: column;
}

.slogan img{
    width: 200px;
    margin-bottom: 20px;
}

.slogan p{
    font-size: 1em;
    font-family: "MinSans-Reg";

}

.homenews{
    width: 380px;
}

.homenews h1{
    font-size: 1.6em;
    margin: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
}

.homenews ul{
    padding-top: 60px;
    width: 380px;
}

.homenews ul li a{
    font-size: 1em;
    text-decoration: underline;
}

.homenews p{
    padding-left: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.sbanner{
    width: 100%;
    min-width: 380px;
margin-top: 20px;

}


.sbanner li{
    width: 100%;
    position: relative;
 }

.sbanner img{
    height: 220px;
    margin-left: -80px;
    overflow: hidden;
}
.sbanner h2{
    font-size: 1.3em;
    font-family: 'MinSans-Medium';
}

.slidearea2, .slidearea4{
    order: 1;
}

.slidearea1, .slidearea2, .slidearea3, .slidearea4{
    position: absolute;
    width: 100%;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.55);

}

.slidetext1, .slidetext3, .slidetext2, .slidetext4{
    color: white;
    padding: 40px 15px 15px 15px;
    height: 150px;
}


.slidetext1 a, .slidetext3 a, .slidetext2 a, .slidetext4 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.852);
    padding: 10px;
    border: 1px solid #426a63;
    border-radius: 20px;
    margin-left: 160px;
}

.sbanner p{
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #aeaeae;
}

.slidearea1:hover, .slidearea3:hover{
    box-shadow: none;
    color: white;
  }

  .slidearea2:hover, .slidearea4:hover{
    box-shadow: none;
    color: rgb(0, 0, 0);  
}


.subscribe{
    flex-direction: column;
    width: 100%;
    min-width: 380px;
}

.subscribe h6{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 7px;
    
}

.mailtext input{
    width: 330px;
}

footer{
    width: 100%;
    min-width: 380px;
    /* flex-direction: column; */
    flex-wrap: wrap;
    height: 100%;
    padding-top: 10px;
    justify-content: space-evenly;
}
.foot div{
    width: 200px;
}

footer > a{
    width: 300px;
    margin-top: 20px;
    margin-bottom: 40px;
    /* order:1; */
}

footer > a img{
    padding-left: 100px;
}

.visitus{
    width: 180px;
}

.mova{
    width: 180px;
}
.openhour{
    width: 180px;
    padding-top: 15px;
}
.contactus{
    width: 180px;
    padding-top: 15px;
}
.tibame p{

    text-align: center;
    margin: 45px 20px;
    font-size: 0.7em;

}

/* HAL page */

main{
    width: 100%;
    min-width: 390px;
 }

.halbanner{
    width: 100%;
    min-width: 390px;
    margin-bottom: 30px;
    z-index: -1;

}

.halbanner picture img{
    width: 100%;
    min-width: 390px;
} 


.halbanner h1{
    font-size: 1.6em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.openhours{
    width: 100%;
    width: 390px;
    
}
.openhours h1{
    font-size: 1.6em;
    margin: auto;
    text-align: center;
}

.ohcontent{
    display: flex;
    flex-direction: column;
    width: 390px;
    margin: 0 auto;
    justify-content:center;
}

.openhours img{
    width: 390px;
 
}
.openhours table{
    width: 240px;
    font-size: 1em;
    font-weight: 100;
    margin: 10px auto;
    
}

.line{
    width: 390px;
    margin: 30px auto;
    border-bottom: 1px solid rgba(68, 68, 68, .5);
}

.adfees{
    width: 390px;
}
.adfees h1{
    font-size: 1.6em;
    margin:10px auto;
    text-align: center;
}

.adfees table{
    margin: 0 auto;
    margin-bottom: 20px;   
}

.adfees table tr{
    height: 50px;
}
.adfees table tr:nth-child(1){
    height: 40px;
}

.adfees h2{
    font-size: 1.1em;
    margin-left: 20px;
}

.adfees .role{
    font-size: 1em;
}

.adfees .role p{
    width: 300px;
}

.adfees .money{
    padding-left: 15px;
    font-size: 1em;
}
.adfees .event{
    font-size: 0.8em;
    margin-left: 30px;
}

.location{
    width: 390px;
}
.location h1{
    font-size: 1.6em;
    margin:10px auto;
    text-align: center;
}
.map{
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 390px;
}

.map iframe{
    width: 390px;
    height: 250px;
}

.transportation{
    width: 390px;
}
.transportation h1{
    font-size: 1.6em;
    margin:10px auto;
    text-align: center;
}

.transportation ul{
    width: 390px;
}

.transportation li{
    flex-direction: column;
    height: 300px;
}

.transportation li div{
    width: 390px;
    margin: 0 auto;
}

.transportation li p {
    width: 370px;
    padding-top: 10px;
    font-size: 0.9rem;
    color: #d4d4d4;
    margin: 0 auto;
}

.pinfo{
    width: 390px;
}
.pinfo h1{
    font-size: 1.6em;
    margin:10px auto;
    text-align: center;
}

.pinfo img{
    display: block;
    width: 370px;
    margin: 0 auto;
}

.pinfo h4{
    width: 380px;
    text-align: center;
    margin: 10px auto;
    font-size: 1.1em;
    font-family: "MinSans-Reg";
}
.pinfo h5{
    width: 700px;
    margin: 0 auto;
    font-size: 1.1em;
    background-color: #426a63;
    margin-bottom: 5px;
    position: relative;
    padding-left: 10px;
}

.pinfo h5{
    width: 370px;
}

.pinfo p{
    width: 370px;
    font-size: 0.9rem;
}


/* Floor */
main{
    width: 100%;
    min-width: 390px;
 }

.floorbanner{
    min-width: 390px;
    margin-bottom: 30px;
    z-index: -1;

}

.floorbanner picture img{
    min-width: 390px;
} 

.floorbanner h1{
    font-size: 1.6em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.floormap{
    width: 390px;
    margin: 0 auto;
}
.floorlist{
    width: 390px;
    display: flex;
    margin: 20px auto;

}

.floorlist a{
    width: 90px;
    height: 35px;
    margin: 0 10px;
    font-size: 1.2em;
    line-height: 35px;
    flex-grow: 1;
}

.firstF picture img{
    display: block;
    width: 380px;
    margin: 60px auto 10px;
}

.firstF button{
    width: 25px;
    height: 25px;
    font-size: .7em;
    padding-left: 9px;
}

.firstF .tooltip {
    /* visibility: visible; */
    /* opacity: .6; */
    background-color: #426a63;
    color:  white;
    font-size: 0.6em;
    width: 100px;

    /* bottom: 125%;
    left: 85%; */

}

.firstF .noone{
    top: 55px;  
    left: 180px;
}


.firstF .notwo{
    top: 180px;  
    left: 170px;
}


.firstF .nothree{
    top: 250px;  
    left: 190px;
}


.firstF .nofour{
    top: 190px;  
    left: 50px;
}


.firstF .nofive{
    top: 120px;  
    left: 365px;
}


.firstF .nosix{
    top: 60px;  
    left: 300px;
}

.facility1F{
    margin: 0 auto;
    margin-top: 50px;
    width: 390px;
    margin-bottom: 50px;
}

.facility1F img{
    width: 380px;
    margin: 0 auto;
    transition:1s ease-in-out;
    margin-left: 10px;
}

.facility1F img:hover{
    margin-top: 0;
    width: 380px;
    /* margin: 0 auto; */
}

.facility1F .swiper-wrapper{
    margin: 0 auto;
    width: 390px;;
}

.facility1F .swiper-slide{
    width: 380px;
    margin: 0 auto;

}

.title{
    width: 380px;
}

.facility1F h3{
    padding-top: 10px;
    font-size: 1.3em;  
    
}
.facility1F span{
    background-color: #426a63;
    font-size: .8rem;
    font-weight:100;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.facility1F ul li p{
    width: 380px;
}


/* -----------floor plan 2 -------------- */

.firstF .nosev{
    top: 200px;  
    left: 180px;
}

.firstF .noeig{
    top: 180px;  
    left: 50px;
}

.firstF .nonine{
    top: 130px;  
    left: 365px;
}

.firstF .noten{
    top: 80px;  
    left: 290px;
}

/* -----------floor plan 2 -------------- */

.firstF .notone{
    top: 80px;  
    left: 290px;
    
}

.firstF .nottwo{
    top: 180px;  
    left: 50px;
}

.firstF .notthree{
    top: 200px;  
    left: 180px;
}

.firstF .notfour{
    top: 130px;  
    left: 365px;
}


/* exhibition */

.exhbanner{
    min-width: 370px;
    margin-bottom: 15px;
    z-index: -1;

}

.exhbanner picture img{
    min-width: 390px;
} 

.exhbanner h1{
    font-size: 1.6em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.exhlist{
    width: 390px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;  
    position: relative;
    
}

.choose{
    width: 120px;
    font-size: 1em;
    z-index: 0;
}

.exhlist .listex{
    width: 390px;
}


.option{
    width: 136px;
}

.exhinfo{
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: none;

}

/* #exPpic{
    height: 400px;
} */

.exhpbanner{
    width: 100%;
    min-width: 370px;
    margin-bottom: 50px
}

.exhpbanner picture img{
    min-width: 380px;
}

.exhpbanner h1{
    position: absolute;
    font-family: 'MinSans-Bold';
    top: 130px;
    left: 100px;
    font-size: 2em;
    text-align: center;

}

.exhpbanner h2{
    font-size: 1.6em;
    top: 180px;
    left: 100px;
}

.exhpcontent video{
    width: 400px;
    height: 176px;
    
}
.exhpcontent{
    width: 400px;
}
.exPpic{
    width: 400px;
    height: 330px;
    margin:0 auto;
}
.exPpic img{
    width: 390px;
    margin-left: 0;
}

.exdescript{
    width: 400px;
    margin: 20px auto;
    line-height: 1.6;
    font-size: 1em;
    text-align: center;
}

/* event */

.evbanner{
    min-width: 370px;
    margin-bottom: 30px;
    z-index: -2;

}

.evbanner picture img{
    min-width: 390px;
} 

.evbanner h1{
    font-size: 1.6em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.evlist{
    width: 390px;
    margin-top: 100px;
    margin-bottom: 20px;  
}

.evlist .choose{
    z-index: 0;
}

.evlist .listev{
    width: 390px;
}

.evlist .listev li{
    width: 390px;
    margin: 15px auto;
}


.evlist picture img{
    width: 390px;
    display: block;

}

.evlist .evinfo{}


.evlist .evinfo h4{
    padding-left: 15px;
    padding-top: 10px;
    font-weight: 100;
    font-size: 0.9em;
}

.evlist .evinfo h3{
   padding-left: 15px;

   line-height: 1.3;
   font-size: 1.1em;
   width: 350px;
}

.evlist .evinfo .evdate{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 0.9em;
}

/* event page */

.evpbanner{
    width: 100%;
    min-width: 380px;
    margin-bottom: 30px
}

.evpbanner picture img{
    width: 100%;
    min-width: 380px;
}

.evpbanner h1{
    font-size: 1.6em;
}

.evpcontent{
    width: 100%;
}

.evpcontent h1{

    font-size: 1.4em;
   
}

.evpinfo{
    width: 380px;
    height: 100%;
    min-height: 380px;
    background:radial-gradient(ellipse 55% 55% at center,#426a63bd, transparent);
    padding-top: 30px;
}

.evpinfotext{
    width: 380px;
    height: 100%;
    min-height: 380px;
    margin: 0 auto;

}

.evpinfo .evpinfotext ul{
    margin: 20px;
}

.evpinfo .evpinfotext li{
    display:block;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.088);
    height: auto;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 15px;
    
}

.evpinfo h4{
    width: auto;
    font-size: 1.3rem;
    text-align: center;
}
.evpinfo p{
    font-size: 1em;
    text-align: center;
    color: #ccc;
    line-height: 1.6;
}

.evPpic{
    width: 400px;
    margin:0 auto;
}
.evPpic img{
    width: 390px;
    margin-left: 0;
}

.evpcontent .evdescript{
    width: 400px;
    margin: 20px auto;
    line-height: 1.6;
    font-size: 1em;
    text-align: center;
}
.evPpic{
    width: 400px;
    height: 330px;
    margin:0 auto;
}
.evPpic img{
    width: 390px;
    margin-left: 5px;
}


/* ticket */
.ticketbanner{
    width: 100%;
    min-width: 390px;
    height:170px;
    /* margin-bottom: 30px; */
    z-index: -1;
    background-image: url(../img/ticketbanner_m.png);
}


.ticketbanner ul{
    width: 320px;
    height: 50px;
}
.threesteps{
    width: 320px;
    height: 100px;
    padding-top: 40px;

}

.ticketbanner li.icon{
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 1.2em;
    margin-top: 20px;

}

.ticketbanner li.tline{
    width: 40px;
    margin-top: 40px;
}
.ticketbanner .ttitle li{
    font-size: 0.8rem;
}

.ticketbanner .ttitle .center{
    font-size: 0.8rem;
    margin: 0 47px ;
}

.selectdate{
    /* position: relative; */
    width: 390px;
    min-height: 300px;
  }
  
  .selectdate h2{
      font-size: 1.5em;
      margin-top: 30px;
      margin-bottom: 20px;
  }

  #datepicker{
    width: 100%;
    min-width: 380px;
    min-height: 400px;
    margin: 0 auto;
  }


  .ui-widget-content {
    width: 380px;
    min-height: 350px;
  }

  .ui-datepicker .ui-datepicker-header{
    height: 50px;
  }

  .ui-datepicker .ui-datepicker-title {
    font-size: 1.4em;
    line-height: 50px;
  }

  .ui-datepicker th{
    font-size: 1.2em;
  }

  .ui-datepicker .ui-datepicker-next{
    width: 30px;
    height: 30px;
    right: 50px;
    top: 10px;
}
    

.ui-datepicker .ui-datepicker-prev{
    width: 30px;
    height: 30px;
    left: 50px;
    top: 10px;
}

.ui-datepicker td{
    height: 50px;
}

.ui-datepicker td a{
    line-height: 50px;
}

.dateexlist{
    width: 390px;
    min-height: 100px;
    margin: 0 auto;
  }
  
  .dateexlist h2{
    font-size: 1.5em;
    margin-top: 70px;
    margin-bottom: 20px;
  }

  .dateexlist p{
    font-size: 1.4em;
    margin-left: 5px;
    width: 380px;
  }

  .dateexlist h3{
    font-size: 1.5em;
    margin: 20px 5px;
  }

  .dateexlist table{
    width: 370px;
  }

  .dateexlist .role{
    font-size: 1.2em;
    width: 100px;
  }

  .dateexlist .money{
    width: 80px;
    font-size: 1.2em;
  }
  .dateexlist .count{
    width: 150px;
  }

 .pmbutton{
    width: 150px;
  }

  .pmbutton .plus{
    right: 0px;
  }

 .pmbutton .input-num{
    width: 150px;
    height: 30px;
  }

  .ticketevent li{
    width: 390px;
    min-height: 300px;
    display:inline-block;
    margin: auto;
  }

  .ticketevent li img{
    width: 360px;
    display: block;
    margin: 0 auto;
  }

  .tevlist{
    padding: 0 5px;
  }

  .tevlist h4{
    font-size: 1.2em;
    margin: 10px 20px;
  }

  .tevlist h5{
    font-size: 1em;
    margin: 10px 20px;
  }
  
  .priceNum{
    width: 240px;
    margin-left:120px;
  }
  .tevlist h6{
    font-size: 1.2em;
  }
  .tevlist .pmbutton{

}

  .checkoutone{
    width: 380px;
    height: 200px;
    margin-bottom: 50px;
    
}

.checkoutone .total{
    font-size: 1.5rem;
}

.checkoutone button{
    width: 230px;
    height: 50px;
    font-size: 1em;
    line-height: 50px;
    left: 80px;
    bottom: 0px;
}

.checkoutone button img{
    right: 12px;
    bottom: 8px;
}
/* ticket2 */

.confirmbooking{
    width: 100%;
    min-width: 380px;
}

.confirmbooking table thead{
    /* display: none; */
    /* width: 370px; */
}


.confirmbooking table th{
    font-size: 1em;
    height: 30px;
}

.confirmbooking h2{
    font-size: 1.3rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 10px;
    background: radial-gradient(ellipse, rgba(66,106,99,1) 0%, rgba(0,0,0,1) 90%);
}


.confirmbooking table tr th.item{
    width: 45%;
    
}
.confirmbooking table tr th.amount{
    width: 25%;
}
.confirmbooking table tr th.x{
    width: 10%;
}
.confirmbooking table tr th.price{
    width: 15%;
}
.confirmbooking table tr th.trash{
    width: 5%;
}



.confirmbooking .cartitems{
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* width: 390px; */
}

#items{
 display: none;   
}

.confirmbooking .cartitems td:nth-child(1){
    font-size: 0.8em;
}

.confirmbooking .cartitems .trash{
    font-size: 1em;
    color: #aeaeae;
}

.confirmbooking .cartitems .pmbutton{
    width: 70px;
    margin: 0 auto;
}

.confirmbooking .cartitems .pmbutton .input-num2{
    width: 70px;
    height: 30px;
    font-size: 1em;
}

.confirmbooking .cartitems .pmbutton .minus2{
    font-size: 1.2em;
    display: none;
}

.confirmbooking .cartitems .pmbutton .plus2{
    font-size: 1.2em;
    display: none;
}

.confirmbooking .cartitems td.times{
    font-size: 0.4em;
    color: darkgray;
    font-weight: 100;
    width: 30px;
}

.confirmbooking .cartitems td:nth-child(4){
    font-size: 1em;
}

/* .confirmbooking table th{
    width: 100px;
} */

.confirmbooking .carttotal td{
    width: 390px;
    height: 60px;
    font-size: 1.1em;
    line-height: 60px;
    border-top: 1px solid rgb(92, 92, 92);
}



.checkouttwo{
    width: 390px;
    height: 150px;
}


.checkouttwo button.proceed{
    width: 200px;
    height: 50px;
    font-size: 1em;
    right: 20px;
    bottom: 30px;
    padding-left: 15px;
}

.checkouttwo button.proceed img{
    right: 5px;
    bottom: 10px;
}

.checkouttwo button.previous{
    left: 30px;
    outline: none;
    border: none;
    color: #ccc;
    font-size: 0.6em;
}

.checkouttwo button.previous img{
    position: absolute;
    left: -20px;
    bottom: -9px;
    scale: 0.5;
}


/* ticket3 */
.orderdetail{
    width: 390px;
}

.orderdetail h2{
    width: 390px;
    height: 100px;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 100px;
}
.orderdetail table th{
    font-size: 1em;
    height: 30px;
}

.orderdetail table tr th.item{
    width: 50%;
    
}
.orderdetail table tr th.amount{
    width: 25%;
}
.orderdetail table tr th.x{
    width: 7%;
}
.orderdetail table tr th.price{
    width: 18%;
}

.orderdetail .cartitems td:nth-child(1){
    font-size: 0.8em;
}

.orderdetail .cartitems .pmbutton{
    width: 70px;
    margin: 0 auto;
}

.orderdetail .cartitems .pmbutton .input-num2{
    width: 70px;
    height: 30px;
    font-size: 1em;
    border: 1px solid rgb(52, 52, 52);
    color: #7d7d7d;
}


.orderdetail .cartitems td.times{
    font-size: 0.4em;
    color: darkgray;
    font-weight: 100;
    width: 30px;
}

.orderdetail .cartitems td:nth-child(4){
    font-size: 1em;
    padding-left: 10px;
}

/* .confirmbooking table th{
    width: 100px;
} */

.orderdetail .carttotal td{
    width: 390px;
    height: 60px;
    font-size: 1.1em;
    line-height: 60px;
    border-top: 1px solid rgb(92, 92, 92);
}

/* .carttotal td{
    height: 80px;
    font-size: 1em;
    line-height: 80px;
    border-top: 1px solid rgb(92, 92, 92); */
/* } */

.orderdetail .carttotal .ttotal{
}
.orderdetail .carttotal .ttmoney{
    padding-left: 10px;
}

form{
    width: 390px;
}

.purchaseinfo{
    width: 390px;

}

.purchaseinfo h2{
    width: 390px;
    height: 100px;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 100px;
}

.purchaseinfo .purinfo{
    width: 390px;
}

.ques1 input{
    height: 30px;
}
.ques2 input{
    height: 30px;
    width: 300px;
}
.ques3 input{
    height: 30px;
    width: 350px;
}
.ques4 input{
    height: 30px;
    width: 350px;
}

.paymentmethod{
    width: 390px;
}

.paymentmethod h2{
    width: 390px;
    height: 100px;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 100px;
}

.paymentmethod .paymethod{
    width: 390px;
}

.ques6 input{
    width: 70px;
}
.ques7 input{
    width: 350px;

}
.ques8 input{
    width: 350px;

}
.ques9 input{
    width: 350px;

}



.submitbnt {
    margin-left:130px;
    
}

/* about page */

.aboutbanner{
    min-width: 370px;
    margin-bottom: 30px;
    z-index: -1;

}

.aboutbanner picture img{
    min-width: 414px;
} 


.aboutbanner h1{
    font-size: 1.6em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.aboutcontent{
    width: 400px;
}

.aboutcontent h2{
    height: 130px;
    font-family: 'MinSans-Medium';
    font-size: 1.3em;
    line-height: 130px;
    margin: 20px auto 20px;
    }

.aboutcontent p{
    width: 380px;
    font-size: 0.9em;
    margin: 0 auto;
}


/* news page */
.newsbanner{
    width: 414px;
    margin-bottom: 30px;
    z-index: -1;

}

.newsbanner picture img{
    min-width: 414px;
} 


.newsbanner h1{
    font-size: 1.6em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.news2023{
    width: 410px;
}

.news2023 h2{
    font-size: 1.5em;
}

.news2023 li{
    width: 400px;
    min-height: 100px;
}

.news2023 li p{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.oldnews{
    width: 410px;
    margin-top: 50px;
}

.form-control{
    margin-left: 160px;
    font-size: 1.5em;
}

.news2022 li, .news2021 li{
    width: 400px;
    min-height: 100px;
}

.news2022 li p, .news2021 li p{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.outter{
    width: 230px;
    height: 105px;
}

.triback{
    scale: 0.3;
    margin-right: 56px;
}

.outter p{
    font-size: 1.1em;
    margin-top: 80px;
}

/* -----news content------ */
.newscontent{
    width: 100%;
    min-width: 380px;
    margin: 20px auto;
}

.newscontent img{
    
    width: 100%;
    min-width: 380px;
    margin: 0 auto;
}

.newscontent h4{
    padding-left: 10px;
    
}

.newscontent h3{
    font-family: "MinSans-Reg";
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

.newscontent p{
    width: 380px;
    margin: 10px auto;
    text-align: center;
}


.topthisp{
    background:black ;
}

.popup-dialog {
    width: 96%;
    min-width: 380px;
}

}