@import url('reset.css');
@font-face{
    font-family: 'MinSans-Bold';
    src: url('fonts/MinSans-Bold-v0400.woff2') format("woff2");
  }
  @font-face{
    font-family: 'MinSans-Medium';
    src: url('fonts/MinSans-Medium-v0400.woff2') format("woff2");
  }
  @font-face{
    font-family: 'MinSans-Reg';
    src: url('fonts/MinSans-Regular-v0400.woff2') format("woff2");
  }


body{
    background-color: black;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    width: 100%;
    margin: 0 auto;
}


.main{
    /* width: 1920px; */
    /* margin: 0 auto; */
}


/* ----主選單區---- */

.top{
    width: 100%;
    min-width: 1200px;
    display: flex;
    height: 80px;
    /* justify-content: space-between; */
}
.top img{
    margin: 10px 50px;
    /* height: 80px;
    scale: 0.6; */
}
.top a.burger{
    display: none;
}


.topbar{
    margin-left:auto;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    margin-right: 30px;
    /* flex-grow: 1; */

    
}
.topbar li{
    justify-items:end;
    margin-left: 55px;

}
.topbar li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: 'MinSans-Reg';
    text-align:end;
    line-height: auto;   
}

.top li a span.material-symbols-outlined{
    display: none;
}

.top li a:hover{
    background:radial-gradient(ellipse 70% 70% at center,#45867b, black);
}

.top li:nth-child(1){
    min-width: 60px;
    position: relative;
}

.top li:nth-child(1) span{
    position: absolute;

}

.secondbar{
    width: 300px;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0px;
    z-index: 1;
    align-items: flex-start;
    background-color: rgb(0, 0, 0);
    /* padding-left: 20px; */
    /* margin: auto; */
    /* display: none; */
    max-height: 0px;
    overflow: hidden;
    transition: all ease-in-out .5s;
}
.secondbar.show{
    max-height: 80px;
}


.secondbar li{
    height: 40px;
    text-align: left;
    margin-left: 0px;
    justify-self: flex-start;
    line-height: 40px;
    padding-left: 10px;
}


.search form {
    width:215px;
    /* float:right; */
    margin:7px;
    position: relative;
}

.search form input[type=text]{
    width:200px;
    height:25px;
    border-radius:15px;
    border: none;
    padding-left: 10px;
    outline: none;
}
       
.search form button{
    background-color: transparent;
    color: #426a63;
    /* float: right; */
    position: absolute;
    right: 6px;
    padding: 5px 5px;
    /* margin-right: 10px; */
    font-size: 7px;
    border: none;
    cursor: pointer;
}

.topthisp{
    background:radial-gradient(ellipse 70% 70% at center,#53a799, black);
}

/* ----banner slider---- */

.banner{
    width: 100%;
    min-width: 1200px;
    height: 100%;
    min-height: 500px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.banner img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: 100%;
    min-width: 1200px;
}



/* ----what's on area----- */
.whatson{
      margin: 0 auto;
      margin-top: 50px;
      width: 1200px;
}

.whatson h1{
    font-size: 2em;
    font-family: 'MinSans-Medium';
    margin-left: 100px;

}

.whatson h3{
    font-size: 1em;
    margin-left: 100px;
    color: grey;

}

.slider{
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
    /* width: 1300px; */
    /* margin: 0 auto; */
}

.whatson .slick-prev {
    left: -15px;
    width: 60px;
    height: 60px;
    z-index: 1;    
}
.whatson .slick-prev:before{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Material Icons";
    content: "\e5cb";
}

.whatson .slick-next{
    right: -30px;
    width: 60px;
    height: 60px;
}

.whatson .slick-next:before{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Material Icons";
    content: "\e5cc";
}

.whatson .slick-prev:before,.whatson .slick-next:before {
    /* font-family: 'slick'; */
    font-size: 60px;
    line-height: 1;
    /* opacity: .5; */
    color: #426a63;
    -webkit-font-smoothing: antialiased;
}


.slider li{
    display:flex;
    position: relative;
    margin-left: 30px;
    margin-top: 20px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.slider li:hover {
    margin-top:0px;
}

.slider li h2{
    font-family: 'MinSans-Bold';
    max-width: 250px;
    color: white;
    font-size: 2.2rem;
    position: absolute;
    right: 10%;
    bottom: 30%;
    /* transform: translate(-50%, -50%); */
    /* text-align: center; */
    text-shadow: 0px 0px 10px rgb(0,0,0);
    line-height: 1.3;
}

.slider li h2:hover{

}

.slider li img{
    display: block;
    width: 350px;
}

/* ----slogan---- */
.slogan{
    /* background-image: url("../img/spotlight1.png"); */
    background:radial-gradient(ellipse 50% 35% at center,#426a63, transparent);
    height: 370px;
    padding-top: 100px;
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
}

.slogantext{
    display: flex;
    width:800px;
    margin:40px auto;
    /* border: 1px solid red; */
    justify-content:space-evenly;
    align-items:center;   
}

.slogan p{
    /* float: right; */
    font-size: 1.5em;
    font-family: "MinSans-Bold";
    
    
}


/* ----homenews---- */
.homenews{
    position: relative;
    height: 500px;
    width: 1200px;
    margin-bottom: 90px;
    margin: 0 auto;
}

.homenews h1{
    font-size: 2rem;
    font-family: 'MinSans-Medium';
    position: absolute;
    top: 0;
    left: 100px;
}

.homenews ul{
    width: 700px;
    margin: 0 auto;
    padding-top: 20px;

}
.homenews li{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(39, 39, 39);
}
.homenews ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-family: 'MinSans-Reg';
}

.homenews ul li a:hover{
    text-decoration: underline;
}

.homenews p{
    margin-top: 3px;
    padding-left: 40px;
    font-size: 0.9em;
    font-weight: 100;
    color: #cecece;
    line-height: 1.3 ;
}

.homenews .viewmore{
    /* border: 1px solid red; */
    border: 2px solid #426a63;
    color: white;
    border-radius: 25px;
    height: 40px;
    width: 150px;
    position: absolute;
    font-size: 1.05em;
    top: 400px;
    right: 0;
    bottom: 0;
    left: 0;
    margin:0 auto;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

.homenews .viewmore:hover {
        background-color: rgb(66, 106, 99);
        -webkit-box-shadow: 10px 10px 99px 6px rgba(66, 106, 99,1);
        -moz-box-shadow: 10px 10px 99px 6px rgba(66, 106, 99,1);
        box-shadow: 10px 10px 99px 6px rgba(66, 106, 99,1);
      }

/* ----sbanner---- */

.sbanner{
    margin: 0 auto;
    margin-top: 80px;
    width: 1200px;
}

.sbanner img{
    width: 800px;
}
.sbanner li{
    display: flex;
}

.sbanner h2{
    font-size: 1.5em;
    font-family: 'MinSans-Medium';
}


.sbanner p{
    font-size: 0.9rem;
}

.slidearea1, .slidearea3{
    background-color: white;
    color: black;
    width: 700px;
    /* padding: 150px 270px 100px 50px; */
    transition: all 1.2s ease;
}

.slidearea2, .slidearea4{
    background-color: black;
    order: -1;
    width: 700px;
    
    transition: all 1.2s ease;   
}

.slidetext1, .slidetext3, .slidetext2, .slidetext4{
    padding: 50px 30px 30px 30px;
    max-width: 500px;
}

.slidetext1 a, .slidetext3 a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.slidetext2 a, .slidetext4 a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;


}

.slidearea1:hover, .slidearea3:hover{
    box-shadow:  0 500px rgb(0, 0, 0) inset;
    color: white;
  }

  .slidearea2:hover, .slidearea4:hover{
    box-shadow:  0 500px rgb(255, 255, 255) inset;
    color: rgb(0, 0, 0);  
}


/* ----subscribe---- */
.subscribe{
    display: flex;
    height: 90px;
    width: 100%;
    min-width: 1200px;
    align-items: center;
    justify-content:center;
    margin: 0 auto;
    /* background-color: rgb(0, 0, 0); */
    background: linear-gradient(-50deg, #426a63, #000000, #426a63, #000000);
	background-size: 200% 200%;
	animation: gradient 13s ease infinite;
    /* background:linear-gradient(to bottom right, black, #426a63); */

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.subscribe h6{
    margin-right: 70px;
    font-size: 1.1em;
    font-family: 'MinSans-Reg';
    text-transform: capitalize;
    color: #ffffff;
}

.mailtext{
    position: relative;
}

.mailtext input{
    border-radius: 20px;
    height: 20px;
    width: 350px;
    padding-left: 10px;
    border: 1px solid rgb(145, 145, 145);
    background-color: transparent;
    color: #ffffff;
    outline: none;
}

.mailtext button{
    position: absolute;
    top:8px;
    right: 6px;
    border-radius: 8px;
    background-color: transparent;
    color:rgb(201, 201, 201);
    border: none;
    cursor: pointer;
    
}
.mailtext input::placeholder{
    font-size: 0.6rem;
    color: rgb(255, 255, 255);
    font-weight: 100;
}



/* ----footer---- */

footer{
    width: 100%;
    min-width: 1200px;
    background-color: rgb(0, 0, 0);
    padding-top: 60px;
    display: flex;
    height: 400px;
    justify-content: space-evenly;
}

footer img{
    width: 100px;
    /* height: 166px; */
}
.visitus{
    margin-top: 10px;
    width: 150px;
}

.visitus li{
    margin-left: 10px;
    font-size: 0.8em;
    color: #bababa;
}

.mova{
    margin-top: 10px;
    width: 150px;
}

.mova li{
    margin-left: 10px;
    font-size: 0.8em;
    color: #bababa;
}

.mova a{
    text-decoration: none;
    color: #bababa;

}
.openhour{
    margin-top: 10px;
    width: 220px;
}

.openhour li{
    margin-left: 10px;
    font-size: 0.8em;
    color: #bababa;
}

.openhour a{
    text-decoration: none;
    color: #bababa;
}

.contactus{
    margin-top: 10px;
    width: 150px;

}

.contactus a{
    color: white;
    font-size: 1.6em;
    margin: 5px 8px;
    color: #bababa;

    
}
.tibame p{
    /* display: block; */
    text-align: center;
    margin-bottom: 30px;
    font-size: 0.8em;
    
}

footer h6{
    font-size: 1em;
    border-bottom: 1px solid rgb(79, 79, 79);
    margin-bottom: 5px;
}

.mova img{
    width: 6px;
    height: 7px;
}


.openhour img{
    width: 6px;
    height: 7px;
}

/* -----------admission hours location page-------------- */
 main{
    width: 100%;
 }

.halbanner{
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.halbanner picture img{
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
}


.halbanner h1{
    /* border: 1px solid yellow; */
    position: absolute;
    font-family: 'MinSans-Bold';
    top: 130px;
    left: 250px;
    font-size: 2.5rem;
    width: 400px;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0,0,0,.8);
    background:radial-gradient(ellipse 50% 50% at center,#000000a8, rgba(0, 0, 0, 0));
}

.openhours{
    width: 1200px;
    margin: 0 auto;
 
}

.openhours h1{
    font-size: 2em;
    font-family: 'MinSans-Medium';
    margin-bottom: 30px;
    margin-left: 100px;
}
.ohcontent{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    justify-content:center;
}

.openhours img{
    width: 600px;
 
}
.openhours table{
    font-size: 1em;
    font-weight: 100;
    margin-left: 50px;
    
}

.openhours table td{
    width: 120px;
    
}

.line{
    width: 1100px;
    margin: 50px auto;
    border-bottom: 1px solid rgba(68, 68, 68, .5);
}



/*----admission fee------ */

.adfees{
    width: 1200px;
    margin: 0 auto;
}
.adfees h1{
    font-size: 2em;
    font-family: 'MinSans-Medium';
    margin-bottom: 30px;
    margin-left: 100px;

}
.adfees h2{
    font-size: 1.5em;
    margin-left: 250px;
    font-family: 'MinSans-Medium';
}
.adfees table{
    /* border: 1px solid red; */
    /* margin-left: 740px; */
    margin: 0 auto;
    margin-bottom: 50px;
    
}

.adfees table tr{
    height: 70px;
    border-bottom: 1px solid rgba(68, 68, 68, .5);
}

.adfees table tr:nth-child(1){
    height: 70px;
    
}


.adfees .role{
    font-size: 1.2em;
    vertical-align: bottom;
    line-height: 1.4;
}


.adfees .role p{
    font-size: 0.7em;
    color: rgb(88, 88, 88);
    line-height: 1.4;
}

.adfees .money{
    padding-left: 80px;
    font-size: 1.2em;
    vertical-align: bottom;

}
.adfees .event{
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 70px;

}


/* ------location--------- */


.location{
    width: 1200px;
    margin: 0 auto;
}
.location h1{
    font-size: 2em;
    font-family: 'MinSans-Medium';
    margin-bottom: 30px;
    margin-left: 100px;
}
.map{
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 850px;
}

.map p{
    font-size: 0.8em;
    color: grey;
}



.transportation{
    width: 1200px;
    margin: 0 auto;
}
.transportation h1{
    font-size: 2em;
    font-family: 'MinSans-Medium';
    margin-bottom: 30px;
}
.transportation ul{
    width: 950px;
    margin: 0 auto;
}
.transportation li{
    display: flex;
    height: 200px;
}

.transportation li div {
    width: 150px;
    font-size: 3em;
    text-align: center;
    color: #426a63;
}

.transportation li div h3 {
    font-size: 1.1rem;
   
}

.transportation li p {
    width: 950px;
    padding-top: 10px;
    font-size: 0.9rem;
    color: #d4d4d4;
}


/* -----parking info------ */

.pinfo{
    width: 1200px;
    margin: 0 auto;
}
.pinfo h1{
    font-size: 2em;
    font-family: 'MinSans-Medium';
}
.pinfo img{
    display: block;
    width: 700px;
    margin: 0 auto;
}
.pinfo p{
    width: 800px;
    margin: 20px auto;
}



/* -----------floor plan 1 -------------- */


.floorbanner{
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 150px;
}

.floorbanner picture img{
    width: 100%;
    min-width: 1200px;
}

.floorbanner h1{
    /* border: 1px solid yellow; */
    position: absolute;
    font-family: 'MinSans-Bold';
    top: 150px;
    left: 250px;
    font-size: 2.5rem;
    /* width: 300px; */
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0,0,0,.6);
    /* background:radial-gradient(ellipse 50% 50% at center,#000000a8, rgba(0, 0, 0, 0)); */
}


.floormap{
    width: 924px;
    margin: 0 auto;
}
.floorlist{
    width: 504px;
    display: flex;
    margin: 80px auto;

}

.floorlist a{
    text-decoration: none;
    width: 128px;
    height: 54px;
    font-weight: 100;
    text-align: center;
    margin: 0 20px;
    border-radius: 10px;
    font-size: 2em;
    color: white;
}

.floorlist .thisfloor{
    background-color: #426a63;
}

.floorlist .otherfloor{
    border: 1px solid #626262;
}

.firstF{
    position: relative;
}

.firstF button{
    position: relative;
    position: absolute;
    background-color: #426a63;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 1.3em;
    border: none;
    box-shadow:1px 1px 6px rgba(0,0,0,.4);

    transition-duration:.5s; 

}

.firstF .tooltip {
    visibility: hidden;
    width: 150px;
    background-color: rgb(250, 177, 167);
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    opacity: 0;
    transition: opacity 0.5s;
  }

  
.firstF button:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }


.firstF button:hover{
    color: black;
    background-color: #fca69b;
    scale: 1.1;
}

.firstF .noone{
    top: 210px;  
    left: 400px;
}


.firstF .notwo{
    top: 610px;  
    left: 430px;
}


.firstF .nothree{
    top: 450px;  
    left: 370px;
}


.firstF .nofour{
    top: 465px;  
    left: 80px;
}


.firstF .nofive{
    top: 300px;  
    left: 845px;
}


.firstF .nosix{
    top: 150px;  
    left: 675px;
}


.facility1F{
    margin: 0 auto;
    margin-top: 150px;
    width: 1800px;
    margin-bottom: 150px;
}

.facility1F img{
    width: 500px;
    margin: 0 auto;
    transition:1s ease-in-out;
}

.facility1F img:hover{
    margin-top: -25px;
    width: 550px;
    /* margin: 0 auto; */
}

.facility1F ul{
    margin: 0 auto;
    width: 1800px;;
}

.facility1F li{
    width: 500px;
    margin: 0 auto;

}

.title{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 500px;
}

.facility1F h3{
    font-size: 2em;
    text-align:center;
    font-family: 'MinSans-Medium';

}


.facility1F span{
    background-color: #426a63;
    font-size: 1.1rem;
    font-weight:100;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
}

.facility1F ul li p{
    margin: 0 auto;
    width: 500px;
    text-align: center;
    margin-bottom: 20px;
}

.facility1F .slick-prev {
    width: 40px;
    height: 40px;   
}

.facility1F .slick-prev:before{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f053";
}

.facility1F .slick-next{
    width: 40px;
    height: 40px;
}

.facility1F .slick-next:before{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f054";
    color: #426a63;
}

.facility1F .slick-prev:before,.facility1F .slick-next:before {
    /* font-family: 'slick'; */
    font-size: 40px;
    line-height: 1;
    /* opacity: .5; */
    color: #426a63;
    -webkit-font-smoothing: antialiased;
}



/* -----------floor plan 2 -------------- */

.firstF .nosev{
    top: 500px;  
    left: 430px;
}

.firstF .noeig{
    top: 460px;  
    left: 110px;
}

.firstF .nonine{
    top: 310px;  
    left: 845px;
}

.firstF .noten{
    top: 170px;  
    left: 680px;
}

/* -----------floor plan 2 -------------- */

.firstF .notone{
    top: 170px;  
    left: 680px;
}

.firstF .nottwo{
    top: 460px;  
    left: 110px;
}

.firstF .notthree{
    top: 500px;  
    left: 430px;
    
}

.firstF .notfour{
    top: 310px;  
    left: 845px;
   
}



/* ----------------exhibition list--------------- */
.exhbanner{
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.exhbanner picture img{
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
}

.exhbanner h1{
    /* border: 1px solid yellow; */
    position: absolute;
    font-family: 'MinSans-Bold';
    top: 150px;
    left: 250px;
    font-size: 3rem;
    /* width: 300px; */
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0,0,0,.8);
    background:radial-gradient(ellipse 50% 50% at center,#0000001b);
}

.exhlist{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 150px;
    position: relative;
    
}


.choose{
    width: 190px;
    height: 30px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid rgb(100, 100, 100);
    padding: 5px 8px;
    background-color: black;
    color: white;
    z-index: 1;
    position: absolute;
    right: 10px;
    top: -30px;
    cursor:pointer;

}

.choose::placeholder{
    color: white;
    text-align: center;
    font-family: "Noto Sans";
}

.option{
    display: none;
    width: 206px;
    background-color: black;
    color: white;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    z-index: 1;
    position: absolute;
    right: 10px;
    top: 13px;
    cursor:pointer;
}

.option li{
    width: 206px;
    height: 30px;
    padding: 5px 8px;
    /* text-align: center; */
    cursor:pointer;
    font-size: 1.1em;
    font-family: "Noto Sans";
}

.exhlist .listex{
    width: 1200px;;
    padding-top: 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;   
}

.exhlist .listex img{
    width: 100%;
    display: block;
   
}

.exhlist .listex li{
    width: calc(100/3%-20px);
    margin: 10px 10px;
    position: relative;
    border: none;
    flex-grow: 1;
    
}

.exhlist .listex a{
    text-decoration: none;
    color: white;
  
}

.exhinfo{
    position: relative;
    position: absolute;
    width: calc(100%-12px);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 5px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px #ffffff7f;
    border: none;
    display: none;
}

.exhinfo h3{
    font-family: "MinSans-Bold";
    font-size: 2em;
    margin-top: 80px;
    line-height: 1.1;
    margin-left: 15px;
}

.exhinfo h4{
    font-family: "NotoSans";
    font-size: 1.4em;
    font-weight: 100;
    margin-left: 15px;
}

.exhinfo p{
    margin:10px 15px;
    font-weight: 100;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.exhlist li:hover .exhinfo{
    display: block;
    
}
.excoming{
    background-color: #426a63;
    color: white;
    width: 120px;
    height: 35px;
    font-size: 0.8rem;
    line-height: 1rem;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 10px;
    box-shadow: 0px 0px 10px white;
}

.dayleft{
    background-color:rgb(252, 166, 155);
    color: rgb(0, 0, 0);
    width: 120px;
    height: 35px;
    font-size: 0.8rem;
    line-height: 1rem;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 10px;
    box-shadow: 0px 0px 10px white;
}

/* ---------exhibition page------------------ */
.exhpbanner{
    width: 1920px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px;
}

.exhpbanner h1{
    position: absolute;
    font-family: 'MinSans-Bold';
    top:45%;
    left:25%;
    font-size: 4em;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0,0,0,.6);
}

.exhpbanner h2{
    position: absolute;
    font-family: 'MinSans-Medium';
    top:60%;
    left:25%;
    font-size: 3em;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0,0,0,.6);
}

.exhpcontent{
    width: 1280px;
    margin: 0 auto;
}

.exhpiclist{
    width: 1040px;
    margin:0 auto;
}

.exdescript{
    width: 1050px;
    margin: 40px auto;
    line-height: 1.6;
    font-size: 1.2em;
}

.exhpiclist .slick-prev {
    width: 40px;
    height: 40px;
    left: -45px;   
}

.exhpiclist .slick-prev:before{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f053";
}

.exhpiclist .slick-next{
    width: 40px;
    height: 40px;
    right: -30px;
}

.exhpiclist .slick-next:before{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f054";
    color: #426a63;
}

.exhpiclist .slick-prev:before,.exhpiclist .slick-next:before {
    /* font-family: 'slick'; */
    font-size: 40px;
    line-height: 1;
    /* opacity: .5; */
    color: #426a63;
    -webkit-font-smoothing: antialiased;
}



/* -------------------event-------------------- */
.evbanner{
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 150px;
}

.evbanner picture img{
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
}

.evbanner h1{
    position: absolute;
    font-family: 'MinSans-Bold';
    top: 150px;
    left: 250px;
    font-size: 3rem;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0,0,0,.8);
    background:radial-gradient(ellipse 50% 50% at center,#0000001b);
}

.evlist{
    width: 1240px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px;   
}

.evlist .choose{
    position: absolute;
    right: 10px;
    top: -62px;
    cursor:pointer;
}

.evlist .option{

    position: absolute;
    right: 10px;
    top: -20px;
    cursor:pointer;
}


.evlist .listev{
    display: flex;
    flex-wrap: wrap;
}


.evlist .listev li{
    margin: 10px 10px;
    width: 600px;
}

.evlist .listev a{
    text-decoration: none;
    position: relative;
}

.evlist picture img{
    width: 600px;
    display: block;

}

.evlist .evinfo{
    height: 110px;
    background-color: white;
    text-decoration: none;
    color: black;
    position: relative;
}

.evlist .evinfo h4{
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 15px;
    font-weight: 100;
    font-size: 0.9em;
}

.evlist .evinfo h3{
   font-family: "MinSans-Medium";
   font-size: 1.3em;
   padding-left: 20px;
   width: 450px;
   line-height: 1.3;
}

.evlist .evinfo .evdate{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 0.9em;
}

.finalcall{
    position: absolute;
    top: 20px;
    right: 25px;
    color: black;
    background-color: rgb(252, 166, 155);
    width: 100px;
    height: 30px;
    border-radius:10px;
    text-align: center;
    line-height: 30px;
}

/* --------------------event page------------------ */
.evpbanner{
    width: 1920px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px;
}

.evpbanner h1{
    position: absolute;
    font-family: 'MinSans-Bold';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0,0,0,.6);
}

.evpcontent h1{
    font-family: "MinSans-Reg";
    font-size: 2em;
    text-align: center;
}

.evpinfo{
    width: 1200px;
    height: 300px;
    margin: 0px auto;
    background:radial-gradient(ellipse 50% 50% at center,#426a63, transparent);
    font-family: "MinSans-Bold";
    
    
    /* padding-left: 450px; */
    padding-top: 60px;
}

.evpinfotext{
    width: 600px;
    height: 300px;
    margin: 0 auto;

}

.evpinfo ul{
    margin: 50px;
}

.evpinfo li{
    width: 600px;
    display: flex;
    height: 50px;
    border-bottom: 1px solid rgba(36, 36, 36, 0.212);
    vertical-align: bottom;
    
}

.evpinfo h4{
    font-size: 1.5rem;
    line-height: 1.6;
    width: 180px;
    vertical-align: baseline;
}

.evpinfo p{
    font-family: "MinSans-Reg";
    /* padding-left: 30px; */
    font-size: 1.3rem;
    line-height: 2;
    vertical-align: baseline;
    
}

.evpinfo p.also{
    margin: 0 20px;
}
.evpcontent .evdescript{
    width: 1000px;
    margin: 50px auto;
}

.evpiclist{
    width: 1030px;
    margin:0 auto;
}


.evpiclist .slick-prev {
    width: 40px;
    height: 40px;
    left: -45px;   
}

.evpiclist .slick-prev:before{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f053";
}

.evpiclist .slick-next{
    width: 40px;
    height: 40px;
    right: -30px;
}

.evpiclist .slick-next:before{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f054";
    color: #426a63;
}

.evpiclist .slick-prev:before,.evpiclist .slick-next:before {
    /* font-family: 'slick'; */
    font-size: 40px;
    line-height: 1;
    /* opacity: .5; */
    color: #426a63;
    -webkit-font-smoothing: antialiased;
}


/* -------------------eticket-------------------- */

.ticketbanner{
    /* padding-top: 130px; */
    width: 100%;
    min-height: 300px;
    margin: 0 auto;
    background-image: url("../img/ticketbanner.png");
}

.ticketbanner picture img{
    width: 100%;
    min-width: 1200px;
}

.ticketbanner ul{
    display: flex;
    width: 500px;
    margin: 0 auto;
    

}

.ticketbanner li.icon{
    height: 80px;
    width: 80px;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    margin: 0 20px;
    margin-top: 10px;
    font-size: 1.5em;
}

.ticketbanner li.thispage{
    background-color: #426a63;
}

.ticketbanner li.tline{
    width: 80px;
    margin-top: 60px;
    border-top: 1px solid rgb(73, 73, 73);
}


.ticketbanner .ttitle{
    font-size: 1.1rem;
    font-family: "MinSans-Medium";
    color: rgb(59, 59, 59);
    margin-top: 10px;
}

.ticketbanner .ttitle .center{
    font-size: 1.1rem;
    font-family: "MinSans-Medium";
    margin: 0 95px;
}

/* ---calendar--- */

.selectdate{
    /* position: relative; */
    width: 900px;
    min-height: 750px;
    margin: 0 auto;
  }
  
  .selectdate h2{
      font-family: 'MinSans-Bold';
      font-size: 2em;
      margin-top: 100px;
      margin-bottom: 50px;
  }

  .wrapper{
    background: black;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    /* position: absolute; */
    top: 80px;
    width: 900px;
    margin: 20px auto;
  }

  .wrapper .icons{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: center;
  }

  .wrapper .icons p{
      font-size: 2em;
      font-family: 'MinSans-Bold';
  }
  
  .wrapper .icons span{
    height: 38px;
    width: 38px;
    margin: 0 20px;
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
  }
  
  .icons span:hover{
    background: #3a3a3a;
  }

  .current-date{
    font-size: 1.45rem;
    font-weight: 500;
  }

  .calendar{
    padding: 20px;
  }

  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }

  .calendar .days{
    /* margin-bottom: 20px; */
    font-size: 1.5em;
    font-family: 'MinSans-Bold';
  }

  .calendar li{
    /* color: white; */
    width: calc(100% / 7);
    font-size: 1.5em;
  }

  .calendar .weeks li{
    font-weight: 500;
    cursor: default;
    font-family: 'MinSans-Bold';
  }
  
  .days{
      background-color: transparent;
  }

  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    /* margin-top: 30px; */
    border-radius: 5%;
    background-image: linear-gradient(to top left,#426a639c,#000000);
    color: rgb(255, 255, 255);
    height: 100px;
    text-align: center;
    line-height: 100px;
  }

  .calendar .days li:hover{
    color: black;
  }
  
  .days li:nth-child(7n+2){
      color: rgb(56, 56, 56);
      cursor: default;
  }

  .days li.inactive{
    color: rgba(59, 59, 59, 0);
    cursor: default;
  }

  .days li.inactive:hover{
    color: rgba(255, 255, 255, 0);
  }

  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 100px;
    width: 122px;
    z-index: -1;
    border-radius: 5%;
    transform: translate(-50%, -50%);
  }

  .days li.active::before{
    background-color: #ffadad;
  }

  .days li:not(.active):hover::before{
    background: #ffffff;
  }

  .days li.active:hover::before{
      background: #ffffff;
    }


  /* ---select ticket--- */
  .dateexlist{
      width: 1200px;
      min-height: 1500px;
      margin: 0 auto;
    }
    
    .dateexlist h2{
        font-family: 'MinSans-Bold';
        font-size: 2em;
        margin-top: 130px;
        margin-bottom: 50px;
    }

    .dateexlist p{
        font-family: 'MinSans-Medium';
        font-size: 2em;
        margin-top: 20px;
        margin-left: 50px;
        color: black;
        background-color: white;
        line-height: 2em;
    }

    .dateexlist h3{
        font-family: 'MinSans-Bold';
        font-size: 2em;
        margin-top: 40px;
        background-image: linear-gradient(to right,#426a639c,#000000);
        margin-left: 50px;
        line-height: 2em;
    }

    .dateexlist table{
        /* margin-left: 100px; */
        width: 700px;
        margin: 20px auto;
    }
    .dateexlist table tr{
        height: 60px;
    }
    .dateexlist .role{
        font-size: 1.6em;
        width: 600px;
        line-height: 60px;
    }
    .dateexlist .money{
        font-size: 1.4em;
        width: 200px;
        line-height: 60px;
        text-align: center;
    }

    .pmbutton{
        vertical-align: middle;
        position: relative;
        width: 200px;
    }

    .dateexlist .count div{
        
    }
    
    .pmbutton .input-num{
        width: 200px;
        height: 35px;
        border-radius: 25px;
        text-align: center;
        font-size: 1.2em;
        background-color: rgb(0, 0, 0);
        color: white;
        border:1px solid #575757;
    }

    .pmbutton .plus{
        background-color: transparent;
        color:#426a63;
        cursor: pointer;
        font-size: 1.6em;
        position: absolute;
        top: 5px;
        right: 8px;
        border: none;

    }

    .pmbutton .minus{
        background-color: transparent;
        color:#426a63;
        cursor: pointer;
        font-size: 1.6em;
        position: absolute;
        top: 5px;
        left: 8px;
        border: none;
    }
    
    .ticketevent li{
        height: 200px;
        display: flex;
        width: 1000px;
        margin: 30px auto;

    }
    .tevlist{
        padding: 0 30px;
        flex-grow: 1;
        position: relative;
    }

    .tevlist h4{
        font-size: 1.5em;
        font-family: "MinSans-Medium";
        margin-bottom: 10px;
    }

    .tevlist h5{
        font-size: 1em;
    }

    .tevlist h6{
        font-size: 1.4em;
        position: absolute;
        bottom: 5px;
        left: 110px;

    }
    .tevlist .pmbutton{
        position: absolute;
        bottom: 5px;
        right: 150px;

    }

    .checkoutone{
        width: 1200px;
        height: 250px;
        margin: 0 auto;
        position: relative;
    }

    .checkoutone .total{
        margin: 0 auto;
        padding-right: 50px;
        font-size: 2em;
        line-height: 2em;
        background-image: linear-gradient(to left,#426a639c,#000000);
        text-align: right;
        font-family: "Noto Sans";
    }


    .checkoutone button{
        width: 300px;
        height: 80px;
        background-color: #426a63;
        cursor: pointer;
        font-size: 1.3em;
        line-height: 1.3em;
        border-radius: 40px;
        color: white;
        position: relative;
        text-align: start;
        padding-left: 35px;
        position: absolute;
        right: 10px;
        bottom: 20px;

    }

    .checkoutone .checkoutbtn button:hover{
    }

    .checkoutone button img{
        position: absolute;
        right: 35px;
        bottom: 26px;
    }

   /* ---------eticket page2-------------- */
   .confirmbooking{
        width: 1200px;
        margin: 0 auto;
   }

   .confirmbooking h2{
        font-family: 'MinSans-Bold';
        font-size: 2em;
        margin-top: 130px;
        margin-bottom: 50px;
   }
   .confirmbooking table{
    margin: 0 auto;
    
   }

   .confirmbooking table th{
        border-bottom: 1px solid white;
        height: 50px;
        text-align: center;
        font-size: 1.4em;
   }

  .checkbox{
        width: 50px;
        
   }
    .item{
        width: 600px;
        
   }
   .amount{
        width: 210px;
    }
   .x{
        width: 50px;
   }
   .price{
        width: 90px;
    }
   .trash{
        width: 50px;
    }

    .cartitems td{
        height: 80px;
        vertical-align: middle;
        border-top: 1px solid rgb(30, 30, 30);
    }

    .cartitems td:nth-child(2){
        font-size: 1.2em;
    }


    .cartitems .times{
        text-align: center;
    }

    .cartitems button{
        color: white;
        background-color: transparent;
        font-size: 1.2em;
        cursor: pointer;

    }
    .cartitems td:nth-child(4){
        font-size: 1.1em;
        text-align: center
    }

    .cartitems td:nth-child(5){
        font-size: 1.4em;
        text-align: center
    }

    .carttotal{
        
    }
    .carttotal td{
        height: 80px;
        font-size: 1.4em;
        line-height: 80px;
        border-top: 1px solid white;
    }

    .carttotal td.ttotal{
        text-align: right;

    }
    .carttotal td.ttmoney{
        padding-left: 25px;

    }



    .checkouttwo{
        width: 1200px;
        height: 250px;
        margin: 0 auto;
        position: relative;
    }

    /* .checkouttwo .total{
        width: 990px;
        height: 80px;
        margin: 0 auto;
        font-size: 1.4em;
        border-top: 1px solid white;
        text-align: right;
        line-height: 80px;
        padding-right: 60px;
    } */

    .checkouttwo button.previous{
        background-color: transparent;
        color: white;
        text-align: right;
        position: relative;
        position: absolute;
        left: 90px;
        bottom: 45px;
        cursor: pointer;



    }

    .checkouttwo button.proceed{
        width: 300px;
        height: 80px;
        background-color: #426a63;
        cursor: pointer;
        font-size: 1.3em;
        line-height: 1.3em;
        border-radius: 40px;
        color: white;
        position: relative;
        text-align: start;
        padding-left: 30px;
        position: absolute;
        right: 10px;
        bottom: 20px;

    }

    .checkouttwo button.proceed img{
        position: absolute;
        right: 30px;
        bottom: 26px;
    }

    .checkouttwo button.previous img{
        position: absolute;
        left: -25px;
        bottom: 0px;
        scale: 0.5;
    }


    /* --------ticket page 3----------------- */

    .orderdetail{
        width: 1200px;
        margin: 0 auto;
   }

    .orderdetail h2{
        width: 1200px;
        height: 150px;
        font-family: 'MinSans-Bold';
        font-size: 2em;
        line-height: 150px;
        text-align: center;
        margin: 100px auto 50px;
        background:radial-gradient(ellipse 50% 50% at center,#426a63, transparent);
    }

    .orderdetail table{
        margin: 0 auto;
        
    }

    .orderdetail table th{
        border-bottom: 1px solid white;
        height: 50px;
        text-align: center;
        font-size: 1.4em;
   }

   form{
        width: 1200px;
        margin:0 auto;
        position: relative;
}

   .purchaseinfo{
        width: 1200px;
        margin: 0 auto;
    }

    .purchaseinfo h2{
        width: 1200px;
        height: 150px;
        font-family: 'MinSans-Bold';
        font-size: 2em;
        line-height: 150px;
        text-align: center;
        margin: 100px auto 50px;
        background:radial-gradient(ellipse 50% 50% at center,#426a63, transparent);
    }
    
    .purchaseinfo .purinfo{
        width: 850px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    .purchaseinfo .purinfo div{
        margin: 15px 20px;
    }

    .purchaseinfo .purinfom div p{
        padding-left: 5px;
        font-size: 1em;
        color: #cecece;

    }

    .ques1 input{
        height: 35px;
        width: 300px;
        border-radius: 15px;
        outline: none;
        background-color: transparent;
        border: 1px solid rgb(138, 138, 138);
        color: white;
        padding-left: 5px;
    }

    .ques2 input{
        height: 35px;
        width: 450px;
        border-radius: 15px;
        outline: none;
        background-color: transparent;
        border: 1px solid rgb(138, 138, 138);
        color: white;
        padding-left: 5px;
    }

    .ques3 input{
        height: 35px;
        width: 800px;
        border-radius: 15px;
        outline: none;
        background-color: transparent;
        border: 1px solid rgb(138, 138, 138);
        color: white;
        padding-left: 5px;
    }

    .ques4 input{
        height: 35px;
        width: 800px;
        border-radius: 15px;
        outline: none;
        background-color: transparent;
        border: 1px solid rgb(138, 138, 138);
        color: white;
        padding-left: 5px;
    }

    .paymentmethod{
        width: 1200px;
        margin: 0 auto;
    }

    .paymentmethod h2{
        width: 1200px;
        height: 150px;
        font-family: 'MinSans-Bold';
        font-size: 2em;
        line-height: 150px;
        text-align: center;
        margin: 100px auto 50px;
        background:radial-gradient(ellipse 50% 50% at center,#426a63, transparent);
    }
    .paymentmethod .paymethod{
        width: 850px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;  
    }

    .paymentmethod .paymethod div{
        margin: 25px 10px;
        
    }

    .ques6 input{
        height: 30px;
        width: 800px;
        border-radius: 15px;
        outline: none;
        background-color: transparent;
        border: 1px solid rgb(138, 138, 138);
        color: white;
        padding-left: 5px;
    }

    .ques7 input{
        height: 30px;
        width: 800px;
        border-radius: 15px;
        outline: none;
        background-color: transparent;
        border: 1px solid rgb(138, 138, 138);
        color: white;
        padding-left: 5px;
    }

    .ques8 input{
        height: 30px;
        width: 385px;
        border-radius: 15px;
        outline: none;
        background-color: transparent;
        border: 1px solid rgb(138, 138, 138);
        color: white;
        padding-left: 5px;
    }

    .ques9 input{
        height: 30px;
        width: 385px;
        border-radius: 15px;
        outline: none;
        background-color: transparent;
        border: 1px solid rgb(138, 138, 138);
        color: white;
        padding-left: 5px;
    }

    .submitbnt {
        margin-top: 100px;
        margin-left:830px;

        width: 150px;
        height: 50px;
        background-color: #426a63;
        color: white;
        font-size: 1em;
        border-radius: 25px;
        cursor: pointer;
    }

    form button.previous{
        background-color: transparent;
        color: white;
        position: relative;
        position: absolute;
        left: 250px;
        bottom: 5px;
        text-align: right;
        cursor: pointer;
    }


    form button.previous img{
        position: absolute;
        left: -25px;
        bottom: 0px;
        scale: 0.5;
    }

    .btn-close {
        color: #aaa;
        font-size: 30px;
        text-decoration: none;
        position: absolute;
        right: 10px;
        top: 0;
      }
      .btn-close:hover {
        color: #919191;
      }
      .popup:before {
        content: "";
        display: none;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
      }
      .popup:target:before {
        display: block;
      }
      .popup:target .popup-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        top: 20%;
      }
      .popup-dialog {
        background: #000000;
        box-shadow: 0px 0px 10px #426a63;
        border: #333 solid 1px;
        border-radius: 5px;
        margin-left: -200px;
        position: fixed;
        left: 50%;
        top: -100%;
        z-index: 11;
        width: 450px;
        height: 300px;
        -webkit-transform: translate(0, -500%);
        -ms-transform: translate(0, -500%);
        transform: translate(0, -500%);
        -webkit-transition: -webkit-transform 0.3s ease-out;
        -moz-transition: -moz-transform 0.3s ease-out;
        -o-transition: -o-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        font-family: "MinSans-Reg";
      }
      .popup-body {
        padding: 20px;
      }
      .popup-header, .popup-footer {
        padding: 10px 20px;
      }
      .popup-header {
        border-bottom: rgb(70, 70, 70) solid 1px;
      }

      /* .popup-header img {
        scale: 0.6;
      } */
      .popup-header h2 {
        margin-top: 30px;
        font-size: 20px;
      }
      .popup-footer {
        border-top: rgb(70, 70, 70) solid 1px;
        text-align: right;
      }

      .popup-footer a{
        text-decoration: none;
        color: white;
        text-decoration: underline;
      }

/* -------------------about--------------------- */

.aboutbanner{
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 150px;
}

.aboutbanner img{
    width: 100%;
    min-width: 1200px;
}

.aboutbanner h1{
    /* border: 1px solid yellow; */
    position: absolute;
    font-family: 'MinSans-Bold';
    top: 150px;
    left: 250px;
    font-size: 3rem;
    /* width: 300px; */
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0,0,0,.8);
    background:radial-gradient(ellipse 50% 50% at center,#000000a8, rgba(0, 0, 0, 0));
}

.aboutcontent{
    width: 900px;
    margin: 0 auto;
}

.aboutcontent h2{
    /* width: 800px; */
    height: 180px;
    font-family: 'MinSans-Bold';
    font-size: 2em;
    line-height: 180px;
    text-align: center;
    margin: 60px auto 60px;
    background:radial-gradient(ellipse 50% 50% at center,#426a63, transparent);
    }

.aboutcontent p{
    /* width: 800px;
    margin: 0 auto; */
    margin-bottom: 60px;
    text-align: center;
}

.hideme{
    opacity:0;
}

/* -------------------news--------------------- */

.newsbanner{
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 150px;
}

.newsbanner img{
    width: 100%;
    min-width: 1200px;
}

.newsbanner h1{
    /* border: 1px solid yellow; */
    position: absolute;
    font-family: 'MinSans-Bold';
    bottom: 170px;
    left: 300px;
    font-size: 4em;
    /* width: 300px; */
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0,0,0,.8);
    background:radial-gradient(ellipse 50% 50% at center,#000000a8, rgba(0, 0, 0, 0));
}

.news2023{
    width: 1200px;
    margin: 0 auto;
    
}

.news2023 h2{
    text-align: center;
    font-family: "MinSans-Bold";
    font-size: 2em;
    line-height: 70px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.news2023 ul{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.news2023 li{
    width: 550px;
    height: 200px;
    background-color: #426a63;
    margin: 10px;
    padding: 15px;
    
}

.news2023 a{
    text-decoration: none;
    color: white;
}

.news2023 li h3{
    font-family: "MinSans-Reg";
    font-size: 1.2em;
    padding:15px 0;
}

.news2023 li p{
    font-size: 0.9em;
    color: rgb(199, 199, 199);

}

.newsdate{
    font-size: 0.9rem;
    /* padding-bottom: 10px; */

}



.oldnews{
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.form-control{
    margin-left: 560px;
    font-family: "MinSans-Bold";
    font-size: 2em;
    background-color: #000000;
    color: white;
    outline: none;
    border: none;
}

.newsline{
    border-bottom: 1px solid #ffffff;
    margin-top: 20px;
}

.news2022 ul{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.news2022 li{
    width: 550px;
    height: 200px;
    background-color: #ffffff;
    margin: 10px;
    padding: 15px;
}

.news2022 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.news2022 li h3{
    font-family: "MinSans-Reg";
    font-size: 1.2em;
    padding:15px 0;
}

.news2022 li p{
    font-size: 0.9em;
    color: rgb(77, 77, 77);

}
/* ---------------news content--------------------- */
.newscontent{
    width: 1080px;
    margin: 100px auto;
}

.newscontent h4{
    font-family: "MinSans-Reg";
}

.newscontent h3{
    font-family: "MinSans-Reg";
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.newscontent p{
    width: 1000px;
    margin: 10px auto;
}


